node_modules/
dist/
build/
.env

notification_app_be/node_modules/
notification_app_fe/node_modules/
logging_middleware/node_modules/

notification_app_be/dist/
notification_app_fe/dist/
logging_middleware/dist/